<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.team.dao.ClassGroupUserDao">

    <select id="listByNoAndTenantId" resultType="ClassGroupUser">
        select * from class_group_user where no = #{no} and tenant_id = #{tenantId}
    </select>

    <update id="batchUpdateList"  parameterType="java.util.List">

        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update class_group_user
            <set>
                group_id = #{item.groupId},class_id = #{item.classId},user_id = #{item.userId},editor_id = #{item.editorId},tenant_id = #{item.tenantId},source = #{item.source},
                status = #{item.status},created_at = #{item.createdAt},updated_at = #{item.updatedAt},delete_flag = #{item.deleteFlag},student_user_id = #{item.studentUserId},
                no = #{item.no},bindingFlag = #{item.bindingFlag}
            </set>
            where group_user_id = #{item.groupUserId}
        </foreach>

    </update>

</mapper>
