<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.userschedule.dao.UserScheduleDao">

    <update id="updateUserSchedule" parameterType="UserSchedule">
      update elective_user_schedule set schedule =#{schedule} where id=${id}
    </update>

    <update id="updateUserScheduleToDeleted" parameterType="String">
        UPDATE elective_user_schedule
        SET
            deleted = 1
        WHERE
            union_id = #{unionid}
                AND cource_id > 2
                AND schedule = 0
                AND id > 0
    </update>


    <insert id="saveUserSchedule" parameterType="UserSchedule" useGeneratedKeys="true" keyProperty="userid">
        insert into elective_user_schedule (cource_id,user_id,schedule,creation_time,deleted,union_id)
        values (#{courceid},#{userid},#{schedule},now(),0,#{unionid})
    </insert>



    <select id="scheduleIsExist" resultType="Integer" >
     select ifnull(max(id),0)
        from elective_user_schedule
        where union_id=#{unionid}
        and cource_id=#{courceid}
        and deleted=0
    </select>


    <select id="findUserSchedule" resultType="Integer" >
        select ifnull(max(id),0)
        from elective_user_schedule
        where user_id=#{userid}
        and cource_id=#{courceid}
        and deleted=0
    </select>
    
    <select id="checkLastChapter" resultType="UserSchedule">
        SELECT * from elective_user_schedule where user_id = #{userId} and cource_id = 39 and deleted=0 limit 1
    </select>
    
    <select id="getByUnionId" resultType="UserSchedule" >
        SELECT * from elective_user_schedule where union_id = #{unionId}
    </select>

    <update id="updateUserIdByUnionId" >
        update elective_user_schedule set user_id = #{userId} where union_id = #{unionId}
    </update>
</mapper>