<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.examinations.dao.ExaminationsDao">

    <select id="findALLExaminations" resultType="Examinations">
        SELECT
            id, sort, type, title, A, B, C, D, E, cource_id
        FROM
            (SELECT
                id, sort, type, title, A, B, C, D, E, cource_id
              FROM
                elective_examinations
              WHERE
                cource_id = #{courceid} AND cource_id <![CDATA[<>]]> 2
                  AND deleted = 0
              ORDER BY sort ASC) AS A
        UNION
        SELECT
            id, sort, type, title, A, B, C, D, E, cource_id
        FROM
            (SELECT
                id, sort, type, title, A, B, C, D, E, cource_id
              FROM
                elective_examinations
              WHERE
                cource_id = #{courceid} AND sort = 0
                  AND deleted = 0
              ORDER BY RAND()) AS B
    </select>

    <select id="findALLRightAnwsers" resultType="Examinations">
        SELECT
            id, right_answer
        FROM
            elective_examinations
        WHERE
            cource_id = #{courceid} AND deleted = 0
        ORDER BY sort ASC
    </select>

    <select id="findAllIdAndType" resultType="Examinations">
        SELECT
            id, right_answer
        FROM
            elective_examinations
        WHERE
            cource_id = #{courceid} AND deleted = 0 and personality = #{personality}
        ORDER BY sort ASC
    </select>

    <select id="getSortByid" resultType="Integer">
        SELECT
            sort
        FROM
            elective_examinations
        WHERE
            id = #{id} AND deleted = 0
    </select>

    <select id="findThePersonality" parameterType="java.util.List" resultType="java.util.Map">
        SELECT
            SUM(personality = 1) AS a,
            SUM(personality = 2) AS b,
            SUM(personality = 3) AS c,
            SUM(personality = 4) AS d,
            SUM(personality = 5) AS e,
            SUM(personality = 6) AS f,
            SUM(personality = 7) AS g,
            SUM(personality = 8) AS h,
            SUM(personality = 9) AS i
        FROM
            elective_examinations
        WHERE id IN
        <foreach collection="list" item="item" index="index"
                           open="(" separator="," close=")">#{item}</foreach>
                AND deleted = 0
    </select>

</mapper>
