<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.cource.dao.CourceDao">

    <select id="getCourceByparentId" resultType="Cource">
       select c.id,c.cource,c.duration,c.source,c.type,us.id as usid,us.schedule
          from elective_cource c , elective_user_schedule us
          where us.user_id=#{userid}
          and c.parent_id=#{id}
          and c.id=us.cource_id
          and c.deleted=0
          and us.deleted=0
          group by id
          order by sort asc;
    </select>


    <select id="getCourceByUnionId" resultType="Cource">
        select c.id,c.cource,c.duration,c.source,c.type,us.id as usid,max(us.schedule) as schedule,c.sort
        from elective_cource c , elective_user_schedule us
        where us.union_id=#{unionid}
        and c.parent_id=#{id}
        and c.id=us.cource_id
        and c.deleted=0
        and us.deleted=0
        group by id
        order by sort asc;
    </select>

    <select id="getCourceById" resultType="Cource">
       select id,cource,courcedescribe from elective_cource where id=#{id} and deleted=0
    </select>



    <select id="getTitleByCourceid" resultType="Cource">
        SELECT
            cource, type
        FROM
            elective_cource
        WHERE
            id = #{courceid} AND deleted = 0
    </select>


    <select id="getCourceByParentId" resultType="Cource">
        select * from elective_cource where parent_id=#{courceid} and deleted=0
    </select>



    <select id="getCourceByPidType" resultType="Cource">
        select * from elective_cource where parent_id=#{courceid} and courcedescribe=#{personalitytype} and deleted=0
    </select>

</mapper>
