<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.rule.dao.RuleDao">

    <select id="getUserTestResult" resultType="Rule" >
        SELECT
            description, result, report, love_emotion
        FROM
            gxb_core.elective_rule
        WHERE
            cource_id = #{courceid}
                AND #{score} BETWEEN min_score AND max_score
    </select>

    <select id="getUserSelfConsciousness" resultType="Rule" >
        SELECT
            description, result, report, love_emotion
        FROM
            gxb_core.elective_rule
        WHERE
            cource_id = #{courceid}
                AND description = #{description}
    </select>

</mapper>