<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean id="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations" ref="sysConfig" />
    </bean>

    <!-- production环境 -->
    <beans profile="production">
        <util:list id="sysConfig">
            <value>classpath*:/config.properties</value>
        </util:list>

        <!-- common config -->
        <bean id="parentDatasource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
            <!-- 配置初始化大小、最小、最大 -->
            <property name="maxActive" value="${jdbc.pool.maxActive}" />
            <property name="maxIdle" value="${jdbc.pool.maxIdle}" />
            <property name="minIdle" value="${jdbc.pool.minIdle}" />
            <!-- 配置获取连接等待超时的时间 -->
            <property name="maxWait" value="${jdbc.pool.maxWait}" />

            <!-- 默认自动提交 -->
            <property name="defaultAutoCommit" value="true" />
            <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
            <property name="timeBetweenEvictionRunsMillis" value="${jdbc.pool.timeBetweenEvictionRunsMillis}" />
            <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
            <property name="minEvictableIdleTimeMillis" value="${jdbc.pool.minEvictableIdleTimeMillis}" />
            <!-- 获取前检测连接是否有效 -->
            <property name="testOnBorrow" value="${jdbc.pool.testOnBorrow}" />
            <!-- 验证连接 -->
            <property name="validationQuery" value="${jdbc.pool.validationQuery}" />
        </bean>

        <!-- lcms -->
        <bean id="lcmsMasterDataSource" parent="parentDatasource">
            <property name="driverClassName" value="${jdbc.driver.postgresql}" />
            <property name="url" value="${lcms.jdbc.url}" />
            <property name="username" value="${lcms.jdbc.username}" />
            <property name="password" value="${lcms.jdbc.password}" />
        </bean>
        <bean id="lcmsSlave1DataSource" parent="parentDatasource">
            <property name="driverClassName" value="${jdbc.driver.postgresql}" />
            <property name="url" value="${lcms.slave1.jdbc.url}" />
            <property name="username" value="${lcms.slave1.jdbc.username}" />
            <property name="password" value="${lcms.slave1.jdbc.password}" />
        </bean>
        <bean id="lcmsSlave2DataSource" parent="parentDatasource">
            <property name="driverClassName" value="${jdbc.driver.postgresql}" />
            <property name="url" value="${lcms.slave2.jdbc.url}" />
            <property name="username" value="${lcms.slave2.jdbc.username}" />
            <property name="password" value="${lcms.slave2.jdbc.password}" />
        </bean>

        <bean id="lcmsDataSource" class="com.gxb.sites.api.db.route.ReadWriteDataSource">
            <property name="writeDataSource" ref="lcmsMasterDataSource" />
            <property name="readDataSourceMap">
                <map>
                    <entry key="slave1" value-ref="lcmsSlave1DataSource" />
                    <entry key="slave2" value-ref="lcmsSlave2DataSource" />
                </map>
            </property>
        </bean>

    </beans>


    <!-- local development环境 -->
    <beans profile="development">
        <util:list id="sysConfig">
            <value>classpath*:/config.properties</value>
            <value>classpath*:/config.development.properties</value>
        </util:list>

        <!-- common config -->
        <bean id="parentDatasource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
            <!-- 配置初始化大小、最小、最大 -->
            <property name="maxActive" value="${jdbc.pool.maxActive}" />
            <property name="maxIdle" value="${jdbc.pool.maxIdle}" />
            <property name="minIdle" value="${jdbc.pool.minIdle}" />
            <!-- 配置获取连接等待超时的时间 -->
            <property name="maxWait" value="${jdbc.pool.maxWait}" />

            <!-- 默认自动提交 -->
            <property name="defaultAutoCommit" value="true" />
            <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
            <property name="timeBetweenEvictionRunsMillis" value="${jdbc.pool.timeBetweenEvictionRunsMillis}" />
            <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
            <property name="minEvictableIdleTimeMillis" value="${jdbc.pool.minEvictableIdleTimeMillis}" />
        </bean>

        <!-- lcms -->
        <bean id="lcmsMasterDataSource" parent="parentDatasource">
            <property name="driverClassName" value="${jdbc.driver.postgresql}" />
            <property name="url" value="${lcms.jdbc.url}" />

            <property name="username" value="${lcms.jdbc.username}" />
            <property name="password" value="${lcms.jdbc.password}" />
        </bean>
        <bean id="lcmsSlave1DataSource" parent="parentDatasource">
            <property name="driverClassName" value="${jdbc.driver.postgresql}" />
            <property name="url" value="${lcms.slave1.jdbc.url}" />

            <property name="username" value="${lcms.slave1.jdbc.username}" />
            <property name="password" value="${lcms.slave1.jdbc.password}" />
        </bean>

        <bean id="lcmsDataSource" class="com.gxb.sites.api.db.route.ReadWriteDataSource">
            <property name="writeDataSource" ref="lcmsMasterDataSource" />
            <property name="readDataSourceMap">
                <map>
                    <entry key="slave1" value-ref="lcmsSlave1DataSource" />
                </map>
            </property>
        </bean>

    </beans>

</beans>