<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gxb.sites.api.resource.feedback.dao.ElectiveFeedbackDao">

    <insert id="save" parameterType="ElectiveFeedback">
        insert into elective_feedback (union_id,text) VALUES (#{unionId},#{text})
    </insert>

</mapper>
